body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track {
    background-color: #adadad00;
}

::-webkit-scrollbar-thumb {
    background: #76767a;
}
.fullWidth {
    width: 100%;
}

.miniscroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.miniscroll::-webkit-scrollbar-thumb {
    background: #a7a7ab;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
